// --------------------------------------------------
// SECTION - Grid
// --------------------------------------------------

.ig-grid {
	width: 100%;
	display: grid;
	grid-gap: 0;
	grid-template-columns: repeat(12, 1fr);


  > * {
    grid-column: span 12;
  }

  // Predefined column layouts.

  &.ig-cols-1,
  &.ig-cols-2,
  &.ig-cols-3,
  &.ig-cols-12 {
    > * {
      grid-column: span 1;
    }
  }

  //  One column.
  &.ig-cols-1 {
    grid-template-columns: 1fr;
  }

  //  Two Columns.
  &.ig-cols-2 {
    grid-template-columns: 1fr 1fr;
  }

  //  Three Columns.
  &.ig-cols-3 {
    grid-template-columns: 1fr 1fr 1fr;
  }


  //  Twelve columns.
  &.ig-cols-12 {
    // NOTE: Jonathan - the next line is redundant.
    // grid-template-columns: repeat(12, 1fr);

    @for $i from 1 through 12 {
      > .ig-col-#{$i} {
        grid-column: span #{$i};
      }
    }
  }

  //  Gaps.
  &.ig-gap-s {
    grid-gap: $ig-gap-s;
  }

  &.ig-gap-m {
    grid-gap: $ig-gap-m;
  }

  &.ig-gap-l {
    grid-gap: $ig-gap-l;
  }
}

@import 'idgray-presets';

//  Media queries.
//  These styles invoke from XS down to XL (Mobile First)

//  No media query since this is the default
//  Extra small devices and up.


//  Small devices and up.
@include mq-sm-min {

	.ig-grid > .ig-col-sm-1 { grid-column: span 1; }
	.ig-grid > .ig-col-sm-2 { grid-column: span 2; }
	.ig-grid > .ig-col-sm-3 { grid-column: span 3; }
	.ig-grid > .ig-col-sm-4 { grid-column: span 4; }
	.ig-grid > .ig-col-sm-5 { grid-column: span 5; }
	.ig-grid > .ig-col-sm-6 { grid-column: span 6; }
	.ig-grid > .ig-col-sm-7 { grid-column: span 7; }
	.ig-grid > .ig-col-sm-8 { grid-column: span 8; }
	.ig-grid > .ig-col-sm-9 { grid-column: span 9; }
	.ig-grid > .ig-col-sm-10 { grid-column: span 10; }
	.ig-grid > .ig-col-sm-11 { grid-column: span 11; }
	.ig-grid > .ig-col-sm-12 { grid-column: span 12; }
}

//  Medium devices and up.
@include mq-md-min {
	.ig-grid > .ig-col-md-1 { grid-column: span 1; }
	.ig-grid > .ig-col-md-2 { grid-column: span 2; }
	.ig-grid > .ig-col-md-3 { grid-column: span 3; }
	.ig-grid > .ig-col-md-4 { grid-column: span 4; }
	.ig-grid > .ig-col-md-5 { grid-column: span 5; }
	.ig-grid > .ig-col-md-6 { grid-column: span 6; }
	.ig-grid > .ig-col-md-7 { grid-column: span 7; }
	.ig-grid > .ig-col-md-8 { grid-column: span 8; }
	.ig-grid > .ig-col-md-9 { grid-column: span 9; }
	.ig-grid > .ig-col-md-10 { grid-column: span 10; }
	.ig-grid > .ig-col-md-11 { grid-column: span 11; }
	.ig-grid > .ig-col-md-12 { grid-column: span 12; }
}

//  Large devices and up.
@include mq-lg-min {

	.ig-grid > .ig-col-lg-1 { grid-column: span 1; }
	.ig-grid > .ig-col-lg-2 { grid-column: span 2; }
	.ig-grid > .ig-col-lg-3 { grid-column: span 3; }
	.ig-grid > .ig-col-lg-4 { grid-column: span 4; }
	.ig-grid > .ig-col-lg-5 { grid-column: span 5; }
	.ig-grid > .ig-col-lg-6 { grid-column: span 6; }
	.ig-grid > .ig-col-lg-7 { grid-column: span 7; }
	.ig-grid > .ig-col-lg-8 { grid-column: span 8; }
	.ig-grid > .ig-col-lg-9 { grid-column: span 9; }
	.ig-grid > .ig-col-lg-10 { grid-column: span 10; }
	.ig-grid > .ig-col-lg-11 { grid-column: span 11; }
	.ig-grid > .ig-col-lg-12 { grid-column: span 12; }
}

//  Extra large devices and up.
@include mq-xl-min {

	.ig-grid > .ig-col-xl-1 { grid-column: span 1; }
	.ig-grid > .ig-col-xl-2 { grid-column: span 2; }
	.ig-grid > .ig-col-xl-3 { grid-column: span 3; }
	.ig-grid > .ig-col-xl-4 { grid-column: span 4; }
	.ig-grid > .ig-col-xl-5 { grid-column: span 5; }
	.ig-grid > .ig-col-xl-6 { grid-column: span 6; }
	.ig-grid > .ig-col-xl-7 { grid-column: span 7; }
	.ig-grid > .ig-col-xl-8 { grid-column: span 8; }
	.ig-grid > .ig-col-xl-9 { grid-column: span 9; }
	.ig-grid > .ig-col-xl-10 { grid-column: span 10; }
	.ig-grid > .ig-col-xl-11 { grid-column: span 11; }
	.ig-grid > .ig-col-xl-12 { grid-column: span 12; }
}

//  Application templates.
@import 'idgray-sample-layouts';
