/**
* --------------------------------------------------
* SECTION - Flexbox
* --------------------------------------------------
*/

.ig-flex {
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.ig-flex > ig-item {
	flex-grow: 0;
	flex-shrink: 1;
	flex-basis: 100%;
}

.ig-flex.ig-direction-h { flex-direction: row; }
.ig-flex.ig-direction-h.ig-reverse { flex-direction: row-reverse; }
.ig-flex.ig-direction-v { flex-direction: column; }
.ig-flex.ig-direction-v.ig-reverse { flex-direction: column-reverse; }
.ig-flex.ig-wrap { flex-wrap: wrap; }
.ig-flex.ig-nowrap { flex-wrap: nowrap; }


/** These styles invoke from XS down to XL (Mobile First) */

/** No media query since this is the default */
/** Extra small devices and up. */
.ig-flex.ig-cols-1 > .ig-item { flex-basis: 100%; }
.ig-flex.ig-cols-1 > .ig-col-1 { flex-basis: 100%; }

.ig-flex.ig-cols-2 > .ig-item { flex-basis: 50%; }
.ig-flex.ig-cols-2 > .ig-col-1 { flex-basis: 50%; }
.ig-flex.ig-cols-2 > .ig-col-2 { flex-basis: 100%; }

.ig-flex.ig-cols-3 > .ig-item { flex-basis: 33.333%; }
.ig-flex.ig-cols-3 > .ig-col-1 { flex-basis: 33.333%; }
.ig-flex.ig-cols-3 > .ig-col-2 { flex-basis: 66.666%; }
.ig-flex.ig-cols-3 > .ig-col-3 { flex-basis: 100%; }

.ig-flex.ig-cols-12 > .ig-item { flex-basis: 8.333%; }
.ig-flex.ig-cols-12 > .ig-col-1 { flex-basis: 8.333%; }
.ig-flex.ig-cols-12 > .ig-col-2 { flex-basis: 16.666%; }
.ig-flex.ig-cols-12 > .ig-col-3 { flex-basis: 25%; }
.ig-flex.ig-cols-12 > .ig-col-4 { flex-basis: 33.333%; }
.ig-flex.ig-cols-12 > .ig-col-5 { flex-basis: 41.666%; }
.ig-flex.ig-cols-12 > .ig-col-6 { flex-basis: 50%; }
.ig-flex.ig-cols-12 > .ig-col-7 { flex-basis: 58.333%; }
.ig-flex.ig-cols-12 > .ig-col-8 { flex-basis: 66.666%; }
.ig-flex.ig-cols-12 > .ig-col-9 { flex-basis: 75%; }
.ig-flex.ig-cols-12 > .ig-col-10 { flex-basis: 83.333%; }
.ig-flex.ig-cols-12 > .ig-col-11 { flex-basis: 91.666%; }
.ig-flex.ig-cols-12 > .ig-col-12 { flex-basis: 100%; }


/** Small devices and up. */
@include mq-sm-min {
	.ig-flex.ig-cols-2 > .ig-col-sm-1 { flex-basis: 50%; }
	.ig-flex.ig-cols-2 > .ig-col-sm-2 { flex-basis: 100%; }

	.ig-flex.ig-cols-3 > .ig-col-sm-1 { flex-basis: 33.333%; }
	.ig-flex.ig-cols-3 > .ig-col-sm-2 { flex-basis: 66.666%; }
	.ig-flex.ig-cols-3 > .ig-col-sm-3 { flex-basis: 100%; }

	.ig-flex.ig-cols-12 > .ig-col-sm-1 { flex-basis: 8.333%; }
	.ig-flex.ig-cols-12 > .ig-col-sm-2 { flex-basis: 16.666%; }
	.ig-flex.ig-cols-12 > .ig-col-sm-3 { flex-basis: 25%; }
	.ig-flex.ig-cols-12 > .ig-col-sm-4 { flex-basis: 33.333%; }
	.ig-flex.ig-cols-12 > .ig-col-sm-5 { flex-basis: 41.666%; }
	.ig-flex.ig-cols-12 > .ig-col-sm-6 { flex-basis: 50%; }
	.ig-flex.ig-cols-12 > .ig-col-sm-7 { flex-basis: 58.333%; }
	.ig-flex.ig-cols-12 > .ig-col-sm-8 { flex-basis: 66.666%; }
	.ig-flex.ig-cols-12 > .ig-col-sm-9 { flex-basis: 75%; }
	.ig-flex.ig-cols-12 > .ig-col-sm-10 { flex-basis: 83.333%; }
	.ig-flex.ig-cols-12 > .ig-col-sm-11 { flex-basis: 91.666%; }
	.ig-flex.ig-cols-12 > .ig-col-sm-12 { flex-basis: 100%; }
}

/** Medium devices and up. */
@include mq-md-min {
	.ig-flex.ig-cols-2 > .ig-col-md-1 { flex-basis: 50%; }
	.ig-flex.ig-cols-2 > .ig-col-md-2 { flex-basis: 100%; }

	.ig-flex.ig-cols-3 > .ig-col-md-1 { flex-basis: 33.333%; }
	.ig-flex.ig-cols-3 > .ig-col-md-2 { flex-basis: 66.666%; }
	.ig-flex.ig-cols-3 > .ig-col-md-3 { flex-basis: 100%; }

	.ig-flex.ig-cols-12 > .ig-col-md-1 { flex-basis: 8.333%; }
	.ig-flex.ig-cols-12 > .ig-col-md-2 { flex-basis: 16.666%; }
	.ig-flex.ig-cols-12 > .ig-col-md-3 { flex-basis: 25%; }
	.ig-flex.ig-cols-12 > .ig-col-md-4 { flex-basis: 33.333%; }
	.ig-flex.ig-cols-12 > .ig-col-md-5 { flex-basis: 41.666%; }
	.ig-flex.ig-cols-12 > .ig-col-md-6 { flex-basis: 50%; }
	.ig-flex.ig-cols-12 > .ig-col-md-7 { flex-basis: 58.333%; }
	.ig-flex.ig-cols-12 > .ig-col-md-8 { flex-basis: 66.666%; }
	.ig-flex.ig-cols-12 > .ig-col-md-9 { flex-basis: 75%; }
	.ig-flex.ig-cols-12 > .ig-col-md-10 { flex-basis: 83.333%; }
	.ig-flex.ig-cols-12 > .ig-col-md-11 { flex-basis: 91.666%; }
	.ig-flex.ig-cols-12 > .ig-col-md-12 { flex-basis: 100%; }
}

/** Large devices and up. */
@include mq-lg-min {
	.ig-flex.ig-cols-2 > .ig-col-lg-1 { flex-basis: 50%; }
	.ig-flex.ig-cols-2 > .ig-col-lg-2 { flex-basis: 100%; }

	.ig-flex.ig-cols-3 > .ig-col-lg-1 { flex-basis: 33.333%; }
	.ig-flex.ig-cols-3 > .ig-col-lg-2 { flex-basis: 66.666%; }
	.ig-flex.ig-cols-3 > .ig-col-lg-3 { flex-basis: 100%; }

	.ig-flex.ig-cols-12 > .ig-col-lg-1 { flex-basis: 8.333%; }
	.ig-flex.ig-cols-12 > .ig-col-lg-2 { flex-basis: 16.666%; }
	.ig-flex.ig-cols-12 > .ig-col-lg-3 { flex-basis: 25%; }
	.ig-flex.ig-cols-12 > .ig-col-lg-4 { flex-basis: 33.333%; }
	.ig-flex.ig-cols-12 > .ig-col-lg-5 { flex-basis: 41.666%; }
	.ig-flex.ig-cols-12 > .ig-col-lg-6 { flex-basis: 50%; }
	.ig-flex.ig-cols-12 > .ig-col-lg-7 { flex-basis: 58.333%; }
	.ig-flex.ig-cols-12 > .ig-col-lg-8 { flex-basis: 66.666%; }
	.ig-flex.ig-cols-12 > .ig-col-lg-9 { flex-basis: 75%; }
	.ig-flex.ig-cols-12 > .ig-col-lg-10 { flex-basis: 83.333%; }
	.ig-flex.ig-cols-12 > .ig-col-lg-11 { flex-basis: 91.666%; }
	.ig-flex.ig-cols-12 > .ig-col-lg-12 { flex-basis: 100%; }
}

/** Extra large devices and up. */
@include mq-xl-min {
	.ig-flex.ig-cols-2 > .ig-col-xl-1 { flex-basis: 50%; }
	.ig-flex.ig-cols-2 > .ig-col-xl-2 { flex-basis: 100%; }

	.ig-flex.ig-cols-3 > .ig-col-xl-1 { flex-basis: 33.333%; }
	.ig-flex.ig-cols-3 > .ig-col-xl-2 { flex-basis: 66.666%; }
	.ig-flex.ig-cols-3 > .ig-col-xl-3 { flex-basis: 100%; }

	.ig-flex.ig-cols-12 > .ig-col-xl-1 { flex-basis: 8.333%; }
	.ig-flex.ig-cols-12 > .ig-col-xl-2 { flex-basis: 16.666%; }
	.ig-flex.ig-cols-12 > .ig-col-xl-3 { flex-basis: 25%; }
	.ig-flex.ig-cols-12 > .ig-col-xl-4 { flex-basis: 33.333%; }
	.ig-flex.ig-cols-12 > .ig-col-xl-5 { flex-basis: 41.666%; }
	.ig-flex.ig-cols-12 > .ig-col-xl-6 { flex-basis: 50%; }
	.ig-flex.ig-cols-12 > .ig-col-xl-7 { flex-basis: 58.333%; }
	.ig-flex.ig-cols-12 > .ig-col-xl-8 { flex-basis: 66.666%; }
	.ig-flex.ig-cols-12 > .ig-col-xl-9 { flex-basis: 75%; }
	.ig-flex.ig-cols-12 > .ig-col-xl-10 { flex-basis: 83.333%; }
	.ig-flex.ig-cols-12 > .ig-col-xl-11 { flex-basis: 91.666%; }
	.ig-flex.ig-cols-12 > .ig-col-xl-12 { flex-basis: 100%; }
}
