/**
* --------------------------------------------------
* SECTION - Util
* --------------------------------------------------
*/

.ig-hidden { display: none; }

@include mq-sm-min {
	.ig-hidden-sm { display: none; }
}
@include mq-md-min {
	.ig-hidden-md { display: none; }
}
@include mq-lg-min {
	.ig-hidden-lg { display: none; }
}
@include mq-xl-min {
	.ig-hidden-xl { display: none; }
}


@include mq-xs-only {
	.ig-hidden-xs-only { display: none; }
}
@include mq-sm-only {
	.ig-hidden-sm-only { display: none; }
}
@include mq-md-only {
	.ig-hidden-md-only { display: none; }
}
@include mq-lg-only {
	.ig-hidden-lg-only { display: none; }
}
@include mq-xl-only {
	.ig-hidden-xl-only { display: none; }
}
