// --------------------------------------------------
// SECTION - Masonry
// TODO: Sassify me please!
// --------------------------------------------------


.#{$cg-prefix}-msry { width: 100%; }

.#{$cg-prefix}-msry > .#{$cg-prefix}-msry-gutter { width:0;}
.#{$cg-prefix}-msry > .#{$cg-prefix}-msry-sizer { width:100%;}

.#{$cg-prefix}-msry.#{$cg-prefix}-cols-12 > .#{$cg-prefix}-msry-sizer { width: 8.333%; }
.#{$cg-prefix}-msry.#{$cg-prefix}-cols-12 > .#{$cg-prefix}-item { width: 8.333%; }

/** Extra small devices and up. */
/** No media query since this is the default */
.#{$cg-prefix}-msry.#{$cg-prefix}-cols-12 > .#{$cg-prefix}-col-1 { width: 8.333%; }
.#{$cg-prefix}-msry.#{$cg-prefix}-cols-12 > .#{$cg-prefix}-col-2 { width: 16.666%; }
.#{$cg-prefix}-msry.#{$cg-prefix}-cols-12 > .#{$cg-prefix}-col-3 { width: 25%; }
.#{$cg-prefix}-msry.#{$cg-prefix}-cols-12 > .#{$cg-prefix}-col-4 { width: 33.333%; }
.#{$cg-prefix}-msry.#{$cg-prefix}-cols-12 > .#{$cg-prefix}-col-5 { width: 41.666%; }
.#{$cg-prefix}-msry.#{$cg-prefix}-cols-12 > .#{$cg-prefix}-col-6 { width: 50%; }
.#{$cg-prefix}-msry.#{$cg-prefix}-cols-12 > .#{$cg-prefix}-col-7 { width: 58.333%; }
.#{$cg-prefix}-msry.#{$cg-prefix}-cols-12 > .#{$cg-prefix}-col-8 { width: 66.666%; }
.#{$cg-prefix}-msry.#{$cg-prefix}-cols-12 > .#{$cg-prefix}-col-9 { width: 75%; }
.#{$cg-prefix}-msry.#{$cg-prefix}-cols-12 > .#{$cg-prefix}-col-10 { width: 83.333%; }
.#{$cg-prefix}-msry.#{$cg-prefix}-cols-12 > .#{$cg-prefix}-col-11 { width: 91.666%; }
.#{$cg-prefix}-msry.#{$cg-prefix}-cols-12 > .#{$cg-prefix}-col-12 { width: 100%; }

/** Small devices and up. */
@include mq-sm-min {
	.#{$cg-prefix}-msry.#{$cg-prefix}-cols-12 > .#{$cg-prefix}-col-sm-1 { width: 8.333%; }
	.#{$cg-prefix}-msry.#{$cg-prefix}-cols-12 > .#{$cg-prefix}-col-sm-2 { width: 16.666%; }
	.#{$cg-prefix}-msry.#{$cg-prefix}-cols-12 > .#{$cg-prefix}-col-sm-3 { width: 25%; }
	.#{$cg-prefix}-msry.#{$cg-prefix}-cols-12 > .#{$cg-prefix}-col-sm-4 { width: 33.333%; }
	.#{$cg-prefix}-msry.#{$cg-prefix}-cols-12 > .#{$cg-prefix}-col-sm-5 { width: 41.666%; }
	.#{$cg-prefix}-msry.#{$cg-prefix}-cols-12 > .#{$cg-prefix}-col-sm-6 { width: 50%; }
	.#{$cg-prefix}-msry.#{$cg-prefix}-cols-12 > .#{$cg-prefix}-col-sm-7 { width: 58.333%; }
	.#{$cg-prefix}-msry.#{$cg-prefix}-cols-12 > .#{$cg-prefix}-col-sm-8 { width: 66.666%; }
	.#{$cg-prefix}-msry.#{$cg-prefix}-cols-12 > .#{$cg-prefix}-col-sm-9 { width: 75%; }
	.#{$cg-prefix}-msry.#{$cg-prefix}-cols-12 > .#{$cg-prefix}-col-sm-10 { width: 83.333%; }
	.#{$cg-prefix}-msry.#{$cg-prefix}-cols-12 > .#{$cg-prefix}-col-sm-11 { width: 91.666%; }
	.#{$cg-prefix}-msry.#{$cg-prefix}-cols-12 > .#{$cg-prefix}-col-sm-12 { width: 100%; }
}

/** Medium devices and up. */
@include mq-md-min {
	.#{$cg-prefix}-msry.#{$cg-prefix}-cols-12 > .#{$cg-prefix}-col-md-1 { width: 8.333%; }
	.#{$cg-prefix}-msry.#{$cg-prefix}-cols-12 > .#{$cg-prefix}-col-md-2 { width: 16.666%; }
	.#{$cg-prefix}-msry.#{$cg-prefix}-cols-12 > .#{$cg-prefix}-col-md-3 { width: 25%; }
	.#{$cg-prefix}-msry.#{$cg-prefix}-cols-12 > .#{$cg-prefix}-col-md-4 { width: 33.333%; }
	.#{$cg-prefix}-msry.#{$cg-prefix}-cols-12 > .#{$cg-prefix}-col-md-5 { width: 41.666%; }
	.#{$cg-prefix}-msry.#{$cg-prefix}-cols-12 > .#{$cg-prefix}-col-md-6 { width: 50%; }
	.#{$cg-prefix}-msry.#{$cg-prefix}-cols-12 > .#{$cg-prefix}-col-md-7 { width: 58.333%; }
	.#{$cg-prefix}-msry.#{$cg-prefix}-cols-12 > .#{$cg-prefix}-col-md-8 { width: 66.666%; }
	.#{$cg-prefix}-msry.#{$cg-prefix}-cols-12 > .#{$cg-prefix}-col-md-9 { width: 75%; }
	.#{$cg-prefix}-msry.#{$cg-prefix}-cols-12 > .#{$cg-prefix}-col-md-10 { width: 83.333%; }
	.#{$cg-prefix}-msry.#{$cg-prefix}-cols-12 > .#{$cg-prefix}-col-md-11 { width: 91.666%; }
	.#{$cg-prefix}-msry.#{$cg-prefix}-cols-12 > .#{$cg-prefix}-col-md-12 { width: 100%; }
}

/** Large devices and up. */
@include mq-lg-min {
	.#{$cg-prefix}-msry.#{$cg-prefix}-cols-12 > .#{$cg-prefix}-col-lg-1 { width: 8.333%; }
	.#{$cg-prefix}-msry.#{$cg-prefix}-cols-12 > .#{$cg-prefix}-col-lg-2 { width: 16.666%; }
	.#{$cg-prefix}-msry.#{$cg-prefix}-cols-12 > .#{$cg-prefix}-col-lg-3 { width: 25%; }
	.#{$cg-prefix}-msry.#{$cg-prefix}-cols-12 > .#{$cg-prefix}-col-lg-4 { width: 33.333%; }
	.#{$cg-prefix}-msry.#{$cg-prefix}-cols-12 > .#{$cg-prefix}-col-lg-5 { width: 41.666%; }
	.#{$cg-prefix}-msry.#{$cg-prefix}-cols-12 > .#{$cg-prefix}-col-lg-6 { width: 50%; }
	.#{$cg-prefix}-msry.#{$cg-prefix}-cols-12 > .#{$cg-prefix}-col-lg-7 { width: 58.333%; }
	.#{$cg-prefix}-msry.#{$cg-prefix}-cols-12 > .#{$cg-prefix}-col-lg-8 { width: 66.666%; }
	.#{$cg-prefix}-msry.#{$cg-prefix}-cols-12 > .#{$cg-prefix}-col-lg-9 { width: 75%; }
	.#{$cg-prefix}-msry.#{$cg-prefix}-cols-12 > .#{$cg-prefix}-col-lg-10 { width: 83.333%; }
	.#{$cg-prefix}-msry.#{$cg-prefix}-cols-12 > .#{$cg-prefix}-col-lg-11 { width: 91.666%; }
	.#{$cg-prefix}-msry.#{$cg-prefix}-cols-12 > .#{$cg-prefix}-col-lg-12 { width: 100%; }
}

/** Extra Large devices and up. */
@include mq-xl-min {
	.#{$cg-prefix}-msry.#{$cg-prefix}-cols-12 > .#{$cg-prefix}-col-xl-1 { width: 8.333%; }
	.#{$cg-prefix}-msry.#{$cg-prefix}-cols-12 > .#{$cg-prefix}-col-xl-2 { width: 16.666%; }
	.#{$cg-prefix}-msry.#{$cg-prefix}-cols-12 > .#{$cg-prefix}-col-xl-3 { width: 25%; }
	.#{$cg-prefix}-msry.#{$cg-prefix}-cols-12 > .#{$cg-prefix}-col-xl-4 { width: 33.333%; }
	.#{$cg-prefix}-msry.#{$cg-prefix}-cols-12 > .#{$cg-prefix}-col-xl-5 { width: 41.666%; }
	.#{$cg-prefix}-msry.#{$cg-prefix}-cols-12 > .#{$cg-prefix}-col-xl-6 { width: 50%; }
	.#{$cg-prefix}-msry.#{$cg-prefix}-cols-12 > .#{$cg-prefix}-col-xl-7 { width: 58.333%; }
	.#{$cg-prefix}-msry.#{$cg-prefix}-cols-12 > .#{$cg-prefix}-col-xl-8 { width: 66.666%; }
	.#{$cg-prefix}-msry.#{$cg-prefix}-cols-12 > .#{$cg-prefix}-col-xl-9 { width: 75%; }
	.#{$cg-prefix}-msry.#{$cg-prefix}-cols-12 > .#{$cg-prefix}-col-xl-10 { width: 83.333%; }
	.#{$cg-prefix}-msry.#{$cg-prefix}-cols-12 > .#{$cg-prefix}-col-xl-11 { width: 91.666%; }
	.#{$cg-prefix}-msry.#{$cg-prefix}-cols-12 > .#{$cg-prefix}-col-xl-12 { width: 100%; }
}
