// Application templates.
// These styles invoke from XL down to XS (Not Mobile First - Desktop First))
// DEFAULT - Extra large devices and up.
@if ($cg-include-apps == 1) {
	.#{$cg-prefix}-grid {
		//  Standard Grid areas
		> .#{$cg-prefix}-north { grid-area: north; }
		> .#{$cg-prefix}-south { grid-area: south; }
		> .#{$cg-prefix}-east { grid-area: east; }
		> .#{$cg-prefix}-west { grid-area: west; }
		> .#{$cg-prefix}-center { grid-area: center; }
		> .#{$cg-prefix}-header { grid-area: header; }
		> .#{$cg-prefix}-footer { grid-area: footer; }
		> .#{$cg-prefix}-main { grid-area: main; }
		> .#{$cg-prefix}-main-1 { grid-area: main-1; }
		> .#{$cg-prefix}-main-2 { grid-area: main-2; }
		> .#{$cg-prefix}-main-3 { grid-area: main-3; }

		&.#{$cg-prefix}-cols-1.#{$cg-prefix}-app {
			grid-template-areas:
				"header"
				"main"
				"footer";
		}

		&.#{$cg-prefix}-cols-2.#{$cg-prefix}-app {
			grid-template-areas:
				"header header"
				"main-1 main-2"
				"footer footer";
		}

		&.#{$cg-prefix}-cols-3 {
			&.#{$cg-prefix}-app {
				grid-template-areas:
					"header header header"
					"main-1 main-2 main-3"
					"footer footer footer";
			}

			&.#{$cg-prefix}-border {
				grid-template-areas:
					"north north north"
					"west center east"
					"south south south";
			}
		}

		//  Large devices and down.
		@include mq-lg-max {
			&.#{$cg-prefix}-cols-2 {
				&.#{$cg-prefix}-bk-lg {
					grid-template-columns: 1fr;

					&.#{$cg-prefix}-app {
						grid-template-areas:
							"header"
							"main-1"
							"main-2"
							"footer";
					}
				}
			}

			&.#{$cg-prefix}-cols-3 {
				&.#{$cg-prefix}-bk-lg {
					grid-template-columns: 1fr;

					&.#{$cg-prefix}-app {
						grid-template-areas:
							"header"
							"main-1"
							"main-2"
							"main-3"
							"footer";
					}

					&.#{$cg-prefix}-border {
						grid-template-areas:
							"north"
							"west"
							"center"
							"east"
							"south";
					}
				}
			}


		}

		//  Medium devices and down.
		@include mq-md-max {
			&.#{$cg-prefix}-cols-2 {
				&.#{$cg-prefix}-bk-md {
					grid-template-columns: 1fr;

					&.#{$cg-prefix}-app {
						grid-template-areas:
							"header"
							"main-1"
							"main-2"
							"footer";
					}
				}
			}


			&.#{$cg-prefix}-cols-3 {
				&.#{$cg-prefix}-bk-md {
					grid-template-columns: 1fr;

					&.#{$cg-prefix}-app {
						grid-template-areas:
							"header"
							"main-1"
							"main-2"
							"main-3"
							"footer";
					}

					&.#{$cg-prefix}-border {
						grid-template-areas:
							"north"
							"west"
							"center"
							"east"
							"south";
					}
				}
			}
		}

		//  Small devices and down.
		@include mq-sm-max {
			&.#{$cg-prefix}-cols-2 {
				&.#{$cg-prefix}-bk-sm {
					grid-template-columns: 1fr;

					&.#{$cg-prefix}-app {
						grid-template-areas:
							"header"
							"main-1"
							"main-2"
							"footer";
					}
				}
			}

			&.#{$cg-prefix}-cols-3 {
				&.#{$cg-prefix}-bk-sm {
					grid-template-columns: 1fr;

					&.#{$cg-prefix}-app {
						grid-template-areas:
							"header"
							"main-1"
							"main-2"
							"main-3"
							"footer";
					}

					&.#{$cg-prefix}-border {
						grid-template-areas:
							"north"
							"west"
							"center"
							"east"
							"south";
					}
				}
			}
		}

		//  Extra small devices and down.
		@include mq-xs-max {
			&.#{$cg-prefix}-cols-2 {
				&.#{$cg-prefix}-bk-xs {
					grid-template-columns: 1fr;

					&.#{$cg-prefix}-app {
						grid-template-areas:
							"header"
							"main-1"
							"main-2"
							"footer";
					}
				}
			}

			&.#{$cg-prefix}-cols-3 {
				&.#{$cg-prefix}-bk-xs {
					grid-template-columns: 1fr;

					&.#{$cg-prefix}-app {
						grid-template-areas:
							"header"
							"main-1"
							"main-2"
							"main-3"
							"footer";
					}

					&.#{$cg-prefix}-border {
						grid-template-areas:
							"north"
							"west"
							"center"
							"east"
							"south";
					}
				}
			}
		}
	}
}
