/**
*
* Idgray provides responsive CSS classes for Grid, Flexbox and Masonry.
*
* This CSS file has 4 sections:-
* - Utils
* - Grid
* - Flexbox
* - Masonry (can be used with the masonry.js)
*
* The following media queries are supported:-
*   xs: up to 575px
*   sm: 576px to 767px
*   md: 768px to 991px
*   lg: 992px to 1199px
*   xl: 1200px and over
*/
/**
* --------------------------------------------------
* SECTION - Util
* --------------------------------------------------
*/
.ig-hidden {
  display: none;
}

@media (min-width: 576px) {
  .ig-hidden-sm {
    display: none;
  }
}

@media (min-width: 768px) {
  .ig-hidden-md {
    display: none;
  }
}

@media (min-width: 992px) {
  .ig-hidden-lg {
    display: none;
  }
}

@media (min-width: 1200px) {
  .ig-hidden-xl {
    display: none;
  }
}

@media (max-width: 575px) {
  .ig-hidden-xs-only {
    display: none;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .ig-hidden-sm-only {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .ig-hidden-md-only {
    display: none;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .ig-hidden-lg-only {
    display: none;
  }
}

@media (min-width: 1200px) {
  .ig-hidden-xl-only {
    display: none;
  }
}

/**
* --------------------------------------------------
* SECTION - Grid
* --------------------------------------------------
*/
.ig-grid {
  width: 100%;
  display: grid;
  grid-gap: 0;
  grid-template-columns: repeat(12, 1fr);
}

.ig-grid > * {
  grid-column: span 12;
}

.ig-grid.ig-cols-1 > * {
  grid-column: span 1;
}

.ig-grid.ig-cols-2 > * {
  grid-column: span 1;
}

.ig-grid.ig-cols-3 > * {
  grid-column: span 1;
}

.ig-grid.ig-cols-12 > * {
  grid-column: span 1;
}

/** Predefined column layouts. */
/** One column. */
.ig-grid.ig-cols-1 {
  grid-template-columns: 1fr;
}

/** Two Columns. */
.ig-grid.ig-cols-2 {
  grid-template-columns: 1fr 1fr;
}

.ig-grid.ig-cols-2.ig-split-10-90 {
  grid-template-columns: 10% 90%;
}

.ig-grid.ig-cols-2.ig-split-20-80 {
  grid-template-columns: 20% 80%;
}

.ig-grid.ig-cols-2.ig-split-25-75 {
  grid-template-columns: 25% 75%;
}

.ig-grid.ig-cols-2.ig-split-30-70 {
  grid-template-columns: 30% 70%;
}

.ig-grid.ig-cols-2.ig-split-40-60 {
  grid-template-columns: 40% 60%;
}

.ig-grid.ig-cols-2.ig-split-50-50 {
  grid-template-columns: 50% 50%;
}

.ig-grid.ig-cols-2.ig-split-60-40 {
  grid-template-columns: 60% 40%;
}

.ig-grid.ig-cols-2.ig-split-70-30 {
  grid-template-columns: 70% 30%;
}

.ig-grid.ig-cols-2.ig-split-75-25 {
  grid-template-columns: 75% 25%;
}

.ig-grid.ig-cols-2.ig-split-80-20 {
  grid-template-columns: 80% 20%;
}

.ig-grid.ig-cols-2.ig-split-90-10 {
  grid-template-columns: 90% 10%;
}

/** Three Columns. */
.ig-grid.ig-cols-3 {
  grid-template-columns: 1fr 1fr 1fr;
}

.ig-grid.ig-cols-3.ig-split-10-80-10 {
  grid-template-columns: 10% 80% 10%;
}

.ig-grid.ig-cols-3.ig-split-15-70-15 {
  grid-template-columns: 15% 70% 15%;
}

.ig-grid.ig-cols-3.ig-split-20-60-20 {
  grid-template-columns: 20% 60% 20%;
}

.ig-grid.ig-cols-3.ig-split-25-50-25 {
  grid-template-columns: 25% 50% 25%;
}

.ig-grid.ig-cols-3.ig-split-25-25-50 {
  grid-template-columns: 25% 25% 50%;
}

.ig-grid.ig-cols-3.ig-split-50-25-25 {
  grid-template-columns: 50% 25% 25%;
}

/** Twelve columns. */
.ig-grid.ig-cols-12 {
  grid-template-columns: repeat(12, 1fr);
}

/** Media queries. */
/** These styles invoke from XS down to XL (Mobile First) */
/** No media query since this is the default */
/** Extra small devices (portrait phones, less than 576px) */
/** Gaps. */
.ig-grid.ig-gap-s {
  grid-gap: 6px;
}

.ig-grid.ig-gap-m {
  grid-gap: 12px;
}

.ig-grid.ig-gap-l {
  grid-gap: 18px;
}

.ig-grid > .ig-col-1 {
  grid-column: span 1;
}

.ig-grid > .ig-col-2 {
  grid-column: span 2;
}

.ig-grid > .ig-col-3 {
  grid-column: span 3;
}

.ig-grid > .ig-col-4 {
  grid-column: span 4;
}

.ig-grid > .ig-col-5 {
  grid-column: span 5;
}

.ig-grid > .ig-col-6 {
  grid-column: span 6;
}

.ig-grid > .ig-col-7 {
  grid-column: span 7;
}

.ig-grid > .ig-col-8 {
  grid-column: span 8;
}

.ig-grid > .ig-col-9 {
  grid-column: span 9;
}

.ig-grid > .ig-col-10 {
  grid-column: span 10;
}

.ig-grid > .ig-col-11 {
  grid-column: span 11;
}

.ig-grid > .ig-col-12 {
  grid-column: span 12;
}

/** Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .ig-grid.ig-gap-sm-s {
    grid-gap: 6px;
  }
  .ig-grid.ig-gap-sm-m {
    grid-gap: 12px;
  }
  .ig-grid.ig-gap-sm-l {
    grid-gap: 18px;
  }
  .ig-grid > .ig-col-sm-1 {
    grid-column: span 1;
  }
  .ig-grid > .ig-col-sm-2 {
    grid-column: span 2;
  }
  .ig-grid > .ig-col-sm-3 {
    grid-column: span 3;
  }
  .ig-grid > .ig-col-sm-4 {
    grid-column: span 4;
  }
  .ig-grid > .ig-col-sm-5 {
    grid-column: span 5;
  }
  .ig-grid > .ig-col-sm-6 {
    grid-column: span 6;
  }
  .ig-grid > .ig-col-sm-7 {
    grid-column: span 7;
  }
  .ig-grid > .ig-col-sm-8 {
    grid-column: span 8;
  }
  .ig-grid > .ig-col-sm-9 {
    grid-column: span 9;
  }
  .ig-grid > .ig-col-sm-10 {
    grid-column: span 10;
  }
  .ig-grid > .ig-col-sm-11 {
    grid-column: span 11;
  }
  .ig-grid > .ig-col-sm-12 {
    grid-column: span 12;
  }
}

/** Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .ig-grid.ig-gap-md-s {
    grid-gap: 6px;
  }
  .ig-grid.ig-gap-md-m {
    grid-gap: 12px;
  }
  .ig-grid.ig-gap-md-l {
    grid-gap: 18px;
  }
  .ig-grid > .ig-col-md-1 {
    grid-column: span 1;
  }
  .ig-grid > .ig-col-md-2 {
    grid-column: span 2;
  }
  .ig-grid > .ig-col-md-3 {
    grid-column: span 3;
  }
  .ig-grid > .ig-col-md-4 {
    grid-column: span 4;
  }
  .ig-grid > .ig-col-md-5 {
    grid-column: span 5;
  }
  .ig-grid > .ig-col-md-6 {
    grid-column: span 6;
  }
  .ig-grid > .ig-col-md-7 {
    grid-column: span 7;
  }
  .ig-grid > .ig-col-md-8 {
    grid-column: span 8;
  }
  .ig-grid > .ig-col-md-9 {
    grid-column: span 9;
  }
  .ig-grid > .ig-col-md-10 {
    grid-column: span 10;
  }
  .ig-grid > .ig-col-md-11 {
    grid-column: span 11;
  }
  .ig-grid > .ig-col-md-12 {
    grid-column: span 12;
  }
}

/** Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .ig-grid.ig-gap-lg-s {
    grid-gap: 6px;
  }
  .ig-grid.ig-gap-lg-m {
    grid-gap: 12px;
  }
  .ig-grid.ig-gap-lg-l {
    grid-gap: 18px;
  }
  .ig-grid > .ig-col-lg-1 {
    grid-column: span 1;
  }
  .ig-grid > .ig-col-lg-2 {
    grid-column: span 2;
  }
  .ig-grid > .ig-col-lg-3 {
    grid-column: span 3;
  }
  .ig-grid > .ig-col-lg-4 {
    grid-column: span 4;
  }
  .ig-grid > .ig-col-lg-5 {
    grid-column: span 5;
  }
  .ig-grid > .ig-col-lg-6 {
    grid-column: span 6;
  }
  .ig-grid > .ig-col-lg-7 {
    grid-column: span 7;
  }
  .ig-grid > .ig-col-lg-8 {
    grid-column: span 8;
  }
  .ig-grid > .ig-col-lg-9 {
    grid-column: span 9;
  }
  .ig-grid > .ig-col-lg-10 {
    grid-column: span 10;
  }
  .ig-grid > .ig-col-lg-11 {
    grid-column: span 11;
  }
  .ig-grid > .ig-col-lg-12 {
    grid-column: span 12;
  }
}

/** Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .ig-grid.ig-gap-xl-s {
    grid-gap: 6px;
  }
  .ig-grid.ig-gap-xl-m {
    grid-gap: 12px;
  }
  .ig-grid.ig-gap-xl-l {
    grid-gap: 18px;
  }
  .ig-grid > .ig-col-xl-1 {
    grid-column: span 1;
  }
  .ig-grid > .ig-col-xl-2 {
    grid-column: span 2;
  }
  .ig-grid > .ig-col-xl-3 {
    grid-column: span 3;
  }
  .ig-grid > .ig-col-xl-4 {
    grid-column: span 4;
  }
  .ig-grid > .ig-col-xl-5 {
    grid-column: span 5;
  }
  .ig-grid > .ig-col-xl-6 {
    grid-column: span 6;
  }
  .ig-grid > .ig-col-xl-7 {
    grid-column: span 7;
  }
  .ig-grid > .ig-col-xl-8 {
    grid-column: span 8;
  }
  .ig-grid > .ig-col-xl-9 {
    grid-column: span 9;
  }
  .ig-grid > .ig-col-xl-10 {
    grid-column: span 10;
  }
  .ig-grid > .ig-col-xl-11 {
    grid-column: span 11;
  }
  .ig-grid > .ig-col-xl-12 {
    grid-column: span 12;
  }
}

/** ------------- */
/** These styles invoke from XL down to XS (Not Mobile First - Desktop First))
*/
/** DEFAULT - Extra large devices (large desktops, 1200px and up) */
/** Application templates. */
.ig-grid.ig-cols-1.ig-app {
  grid-template-areas: "header" "main" "footer";
}

.ig-grid.ig-cols-2.ig-app {
  grid-template-areas: "header header" "main-1 main-2" "footer footer";
}

.ig-grid.ig-cols-3.ig-app {
  grid-template-areas: "header header header" "main-1 main-2 main-3" "footer footer footer";
}

.ig-grid.ig-cols-3.ig-border {
  grid-template-areas: "north north north" "west center east" "south south south";
}

/** Standard Grid areas */
.ig-grid > .ig-north {
  grid-area: north;
}

.ig-grid > .ig-south {
  grid-area: south;
}

.ig-grid > .ig-east {
  grid-area: east;
}

.ig-grid > .ig-west {
  grid-area: west;
}

.ig-grid > .ig-center {
  grid-area: center;
}

.ig-grid > .ig-header {
  grid-area: header;
}

.ig-grid > .ig-footer {
  grid-area: footer;
}

.ig-grid > .ig-main {
  grid-area: main;
}

.ig-grid > .ig-main-1 {
  grid-area: main-1;
}

.ig-grid > .ig-main-2 {
  grid-area: main-2;
}

.ig-grid > .ig-main-3 {
  grid-area: main-3;
}

/** Large devices (desktops, 992px and up) */
@media (max-width: 1200px) {
  .ig-grid.ig-cols-2.ig-bk-lg {
    grid-template-columns: 1fr;
  }
  .ig-grid.ig-cols-3.ig-bk-lg {
    grid-template-columns: 1fr;
  }
  .ig-grid.ig-cols-2.ig-app.ig-bk-lg {
    grid-template-areas: "header" "main-1" "main-2" "footer";
  }
  .ig-grid.ig-cols-3.ig-app.ig-bk-lg {
    grid-template-areas: "header" "main-1" "main-2" "main-3" "footer";
  }
  .ig-grid.ig-cols-3.ig-border.ig-bk-lg {
    grid-template-areas: "north" "west" "center" "east" "south";
  }
}

/** Medium devices (tablets, 768px and up) */
@media (max-width: 992px) {
  .ig-grid.ig-cols-2.ig-bk-md {
    grid-template-columns: 1fr;
  }
  .ig-grid.ig-cols-3.ig-bk-md {
    grid-template-columns: 1fr;
  }
  .ig-grid.ig-cols-2.ig-app.ig-bk-md {
    grid-template-areas: "header" "main-1" "main-2" "footer";
  }
  .ig-grid.ig-cols-3.ig-app.ig-bk-md {
    grid-template-areas: "header" "main-1" "main-2" "main-3" "footer";
  }
  .ig-grid.ig-cols-3.ig-border.ig-bk-md {
    grid-template-areas: "north" "west" "center" "east" "south";
  }
}

/** Small devices (landscape phones, 576px and up) */
@media (max-width: 768px) {
  .ig-grid.ig-cols-2.ig-bk-sm {
    grid-template-columns: 1fr;
  }
  .ig-grid.ig-cols-3.ig-bk-sm {
    grid-template-columns: 1fr;
  }
  .ig-grid.ig-cols-2.ig-app.ig-bk-sm {
    grid-template-areas: "header" "main-1" "main-2" "footer";
  }
  .ig-grid.ig-cols-3.ig-app.ig-bk-sm {
    grid-template-areas: "header" "main-1" "main-2" "main-3" "footer";
  }
  .ig-grid.ig-cols-3.ig-border.ig-bk-sm {
    grid-template-areas: "north" "west" "center" "east" "south";
  }
}

/** Extra-small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
  .ig-grid.ig-cols-2.ig-bk-xs {
    grid-template-columns: 1fr;
  }
  .ig-grid.ig-cols-3.ig-bk-xs {
    grid-template-columns: 1fr;
  }
  .ig-grid.ig-cols-2.ig-app.ig-bk-xs {
    grid-template-areas: "header" "main-1" "main-2" "footer";
  }
  .ig-grid.ig-cols-3.ig-app.ig-bk-xs {
    grid-template-areas: "header" "main-1" "main-2" "main-3" "footer";
  }
  .ig-grid.ig-cols-3.ig-border.ig-bk-xs {
    grid-template-areas: "north" "west" "center" "east" "south";
  }
}

/**
* --------------------------------------------------
* SECTION - Flexbox
* --------------------------------------------------
*/
.ig-flex {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.ig-flex > ig-item {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: 100%;
}

.ig-flex.ig-direction-h {
  flex-direction: row;
}

.ig-flex.ig-direction-h.ig-reverse {
  flex-direction: row-reverse;
}

.ig-flex.ig-direction-v {
  flex-direction: column;
}

.ig-flex.ig-direction-v.ig-reverse {
  flex-direction: column-reverse;
}

.ig-flex.ig-wrap {
  flex-wrap: wrap;
}

.ig-flex.ig-nowrap {
  flex-wrap: nowrap;
}

/** These styles invoke from XS down to XL (Mobile First) */
/** No media query since this is the default */
/** Extra small devices (portrait phones, less than 576px) */
.ig-flex.ig-cols-1 > .ig-item {
  flex-basis: 100%;
}

.ig-flex.ig-cols-1 > .ig-col-1 {
  flex-basis: 100%;
}

.ig-flex.ig-cols-2 > .ig-item {
  flex-basis: 50%;
}

.ig-flex.ig-cols-2 > .ig-col-1 {
  flex-basis: 50%;
}

.ig-flex.ig-cols-2 > .ig-col-2 {
  flex-basis: 100%;
}

.ig-flex.ig-cols-3 > .ig-item {
  flex-basis: 33.333%;
}

.ig-flex.ig-cols-3 > .ig-col-1 {
  flex-basis: 33.333%;
}

.ig-flex.ig-cols-3 > .ig-col-2 {
  flex-basis: 66.666%;
}

.ig-flex.ig-cols-3 > .ig-col-3 {
  flex-basis: 100%;
}

.ig-flex.ig-cols-12 > .ig-item {
  flex-basis: 8.333%;
}

.ig-flex.ig-cols-12 > .ig-col-1 {
  flex-basis: 8.333%;
}

.ig-flex.ig-cols-12 > .ig-col-2 {
  flex-basis: 16.666%;
}

.ig-flex.ig-cols-12 > .ig-col-3 {
  flex-basis: 25%;
}

.ig-flex.ig-cols-12 > .ig-col-4 {
  flex-basis: 33.333%;
}

.ig-flex.ig-cols-12 > .ig-col-5 {
  flex-basis: 41.666%;
}

.ig-flex.ig-cols-12 > .ig-col-6 {
  flex-basis: 50%;
}

.ig-flex.ig-cols-12 > .ig-col-7 {
  flex-basis: 58.333%;
}

.ig-flex.ig-cols-12 > .ig-col-8 {
  flex-basis: 66.666%;
}

.ig-flex.ig-cols-12 > .ig-col-9 {
  flex-basis: 75%;
}

.ig-flex.ig-cols-12 > .ig-col-10 {
  flex-basis: 83.333%;
}

.ig-flex.ig-cols-12 > .ig-col-11 {
  flex-basis: 91.666%;
}

.ig-flex.ig-cols-12 > .ig-col-12 {
  flex-basis: 100%;
}

/** Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .ig-flex.ig-cols-2 > .ig-col-sm-1 {
    flex-basis: 50%;
  }
  .ig-flex.ig-cols-2 > .ig-col-sm-2 {
    flex-basis: 100%;
  }
  .ig-flex.ig-cols-3 > .ig-col-sm-1 {
    flex-basis: 33.333%;
  }
  .ig-flex.ig-cols-3 > .ig-col-sm-2 {
    flex-basis: 66.666%;
  }
  .ig-flex.ig-cols-3 > .ig-col-sm-3 {
    flex-basis: 100%;
  }
  .ig-flex.ig-cols-12 > .ig-col-sm-1 {
    flex-basis: 8.333%;
  }
  .ig-flex.ig-cols-12 > .ig-col-sm-2 {
    flex-basis: 16.666%;
  }
  .ig-flex.ig-cols-12 > .ig-col-sm-3 {
    flex-basis: 25%;
  }
  .ig-flex.ig-cols-12 > .ig-col-sm-4 {
    flex-basis: 33.333%;
  }
  .ig-flex.ig-cols-12 > .ig-col-sm-5 {
    flex-basis: 41.666%;
  }
  .ig-flex.ig-cols-12 > .ig-col-sm-6 {
    flex-basis: 50%;
  }
  .ig-flex.ig-cols-12 > .ig-col-sm-7 {
    flex-basis: 58.333%;
  }
  .ig-flex.ig-cols-12 > .ig-col-sm-8 {
    flex-basis: 66.666%;
  }
  .ig-flex.ig-cols-12 > .ig-col-sm-9 {
    flex-basis: 75%;
  }
  .ig-flex.ig-cols-12 > .ig-col-sm-10 {
    flex-basis: 83.333%;
  }
  .ig-flex.ig-cols-12 > .ig-col-sm-11 {
    flex-basis: 91.666%;
  }
  .ig-flex.ig-cols-12 > .ig-col-sm-12 {
    flex-basis: 100%;
  }
}

/** Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .ig-flex.ig-cols-2 > .ig-col-md-1 {
    flex-basis: 50%;
  }
  .ig-flex.ig-cols-2 > .ig-col-md-2 {
    flex-basis: 100%;
  }
  .ig-flex.ig-cols-3 > .ig-col-md-1 {
    flex-basis: 33.333%;
  }
  .ig-flex.ig-cols-3 > .ig-col-md-2 {
    flex-basis: 66.666%;
  }
  .ig-flex.ig-cols-3 > .ig-col-md-3 {
    flex-basis: 100%;
  }
  .ig-flex.ig-cols-12 > .ig-col-md-1 {
    flex-basis: 8.333%;
  }
  .ig-flex.ig-cols-12 > .ig-col-md-2 {
    flex-basis: 16.666%;
  }
  .ig-flex.ig-cols-12 > .ig-col-md-3 {
    flex-basis: 25%;
  }
  .ig-flex.ig-cols-12 > .ig-col-md-4 {
    flex-basis: 33.333%;
  }
  .ig-flex.ig-cols-12 > .ig-col-md-5 {
    flex-basis: 41.666%;
  }
  .ig-flex.ig-cols-12 > .ig-col-md-6 {
    flex-basis: 50%;
  }
  .ig-flex.ig-cols-12 > .ig-col-md-7 {
    flex-basis: 58.333%;
  }
  .ig-flex.ig-cols-12 > .ig-col-md-8 {
    flex-basis: 66.666%;
  }
  .ig-flex.ig-cols-12 > .ig-col-md-9 {
    flex-basis: 75%;
  }
  .ig-flex.ig-cols-12 > .ig-col-md-10 {
    flex-basis: 83.333%;
  }
  .ig-flex.ig-cols-12 > .ig-col-md-11 {
    flex-basis: 91.666%;
  }
  .ig-flex.ig-cols-12 > .ig-col-md-12 {
    flex-basis: 100%;
  }
}

/** Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .ig-flex.ig-cols-2 > .ig-col-lg-1 {
    flex-basis: 50%;
  }
  .ig-flex.ig-cols-2 > .ig-col-lg-2 {
    flex-basis: 100%;
  }
  .ig-flex.ig-cols-3 > .ig-col-lg-1 {
    flex-basis: 33.333%;
  }
  .ig-flex.ig-cols-3 > .ig-col-lg-2 {
    flex-basis: 66.666%;
  }
  .ig-flex.ig-cols-3 > .ig-col-lg-3 {
    flex-basis: 100%;
  }
  .ig-flex.ig-cols-12 > .ig-col-lg-1 {
    flex-basis: 8.333%;
  }
  .ig-flex.ig-cols-12 > .ig-col-lg-2 {
    flex-basis: 16.666%;
  }
  .ig-flex.ig-cols-12 > .ig-col-lg-3 {
    flex-basis: 25%;
  }
  .ig-flex.ig-cols-12 > .ig-col-lg-4 {
    flex-basis: 33.333%;
  }
  .ig-flex.ig-cols-12 > .ig-col-lg-5 {
    flex-basis: 41.666%;
  }
  .ig-flex.ig-cols-12 > .ig-col-lg-6 {
    flex-basis: 50%;
  }
  .ig-flex.ig-cols-12 > .ig-col-lg-7 {
    flex-basis: 58.333%;
  }
  .ig-flex.ig-cols-12 > .ig-col-lg-8 {
    flex-basis: 66.666%;
  }
  .ig-flex.ig-cols-12 > .ig-col-lg-9 {
    flex-basis: 75%;
  }
  .ig-flex.ig-cols-12 > .ig-col-lg-10 {
    flex-basis: 83.333%;
  }
  .ig-flex.ig-cols-12 > .ig-col-lg-11 {
    flex-basis: 91.666%;
  }
  .ig-flex.ig-cols-12 > .ig-col-lg-12 {
    flex-basis: 100%;
  }
}

/** Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .ig-flex.ig-cols-2 > .ig-col-xl-1 {
    flex-basis: 50%;
  }
  .ig-flex.ig-cols-2 > .ig-col-xl-2 {
    flex-basis: 100%;
  }
  .ig-flex.ig-cols-3 > .ig-col-xl-1 {
    flex-basis: 33.333%;
  }
  .ig-flex.ig-cols-3 > .ig-col-xl-2 {
    flex-basis: 66.666%;
  }
  .ig-flex.ig-cols-3 > .ig-col-xl-3 {
    flex-basis: 100%;
  }
  .ig-flex.ig-cols-12 > .ig-col-xl-1 {
    flex-basis: 8.333%;
  }
  .ig-flex.ig-cols-12 > .ig-col-xl-2 {
    flex-basis: 16.666%;
  }
  .ig-flex.ig-cols-12 > .ig-col-xl-3 {
    flex-basis: 25%;
  }
  .ig-flex.ig-cols-12 > .ig-col-xl-4 {
    flex-basis: 33.333%;
  }
  .ig-flex.ig-cols-12 > .ig-col-xl-5 {
    flex-basis: 41.666%;
  }
  .ig-flex.ig-cols-12 > .ig-col-xl-6 {
    flex-basis: 50%;
  }
  .ig-flex.ig-cols-12 > .ig-col-xl-7 {
    flex-basis: 58.333%;
  }
  .ig-flex.ig-cols-12 > .ig-col-xl-8 {
    flex-basis: 66.666%;
  }
  .ig-flex.ig-cols-12 > .ig-col-xl-9 {
    flex-basis: 75%;
  }
  .ig-flex.ig-cols-12 > .ig-col-xl-10 {
    flex-basis: 83.333%;
  }
  .ig-flex.ig-cols-12 > .ig-col-xl-11 {
    flex-basis: 91.666%;
  }
  .ig-flex.ig-cols-12 > .ig-col-xl-12 {
    flex-basis: 100%;
  }
}

/**
* --------------------------------------------------
* SECTION - Masonry
* --------------------------------------------------
*/
.ig-msry {
  width: 100%;
}

.ig-msry > .ig-msry-gutter {
  width: 0;
}

.ig-msry > .ig-msry-sizer {
  width: 100%;
}

.ig-msry.ig-cols-12 > .ig-msry-sizer {
  width: 8.333%;
}

.ig-msry.ig-cols-12 > .ig-item {
  width: 8.333%;
}

/** Extra small devices (portrait phones, less than 576px) */
/** No media query since this is the default */
.ig-msry.ig-cols-12 > .ig-col-1 {
  width: 8.333%;
}

.ig-msry.ig-cols-12 > .ig-col-2 {
  width: 16.666%;
}

.ig-msry.ig-cols-12 > .ig-col-3 {
  width: 25%;
}

.ig-msry.ig-cols-12 > .ig-col-4 {
  width: 33.333%;
}

.ig-msry.ig-cols-12 > .ig-col-5 {
  width: 41.666%;
}

.ig-msry.ig-cols-12 > .ig-col-6 {
  width: 50%;
}

.ig-msry.ig-cols-12 > .ig-col-7 {
  width: 58.333%;
}

.ig-msry.ig-cols-12 > .ig-col-8 {
  width: 66.666%;
}

.ig-msry.ig-cols-12 > .ig-col-9 {
  width: 75%;
}

.ig-msry.ig-cols-12 > .ig-col-10 {
  width: 83.333%;
}

.ig-msry.ig-cols-12 > .ig-col-11 {
  width: 91.666%;
}

.ig-msry.ig-cols-12 > .ig-col-12 {
  width: 100%;
}

/** Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .ig-msry.ig-cols-12 > .ig-col-sm-1 {
    width: 8.333%;
  }
  .ig-msry.ig-cols-12 > .ig-col-sm-2 {
    width: 16.666%;
  }
  .ig-msry.ig-cols-12 > .ig-col-sm-3 {
    width: 25%;
  }
  .ig-msry.ig-cols-12 > .ig-col-sm-4 {
    width: 33.333%;
  }
  .ig-msry.ig-cols-12 > .ig-col-sm-5 {
    width: 41.666%;
  }
  .ig-msry.ig-cols-12 > .ig-col-sm-6 {
    width: 50%;
  }
  .ig-msry.ig-cols-12 > .ig-col-sm-7 {
    width: 58.333%;
  }
  .ig-msry.ig-cols-12 > .ig-col-sm-8 {
    width: 66.666%;
  }
  .ig-msry.ig-cols-12 > .ig-col-sm-9 {
    width: 75%;
  }
  .ig-msry.ig-cols-12 > .ig-col-sm-10 {
    width: 83.333%;
  }
  .ig-msry.ig-cols-12 > .ig-col-sm-11 {
    width: 91.666%;
  }
  .ig-msry.ig-cols-12 > .ig-col-sm-12 {
    width: 100%;
  }
}

/** Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .ig-msry.ig-cols-12 > .ig-col-md-1 {
    width: 8.333%;
  }
  .ig-msry.ig-cols-12 > .ig-col-md-2 {
    width: 16.666%;
  }
  .ig-msry.ig-cols-12 > .ig-col-md-3 {
    width: 25%;
  }
  .ig-msry.ig-cols-12 > .ig-col-md-4 {
    width: 33.333%;
  }
  .ig-msry.ig-cols-12 > .ig-col-md-5 {
    width: 41.666%;
  }
  .ig-msry.ig-cols-12 > .ig-col-md-6 {
    width: 50%;
  }
  .ig-msry.ig-cols-12 > .ig-col-md-7 {
    width: 58.333%;
  }
  .ig-msry.ig-cols-12 > .ig-col-md-8 {
    width: 66.666%;
  }
  .ig-msry.ig-cols-12 > .ig-col-md-9 {
    width: 75%;
  }
  .ig-msry.ig-cols-12 > .ig-col-md-10 {
    width: 83.333%;
  }
  .ig-msry.ig-cols-12 > .ig-col-md-11 {
    width: 91.666%;
  }
  .ig-msry.ig-cols-12 > .ig-col-md-12 {
    width: 100%;
  }
}

/** Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .ig-msry.ig-cols-12 > .ig-col-lg-1 {
    width: 8.333%;
  }
  .ig-msry.ig-cols-12 > .ig-col-lg-2 {
    width: 16.666%;
  }
  .ig-msry.ig-cols-12 > .ig-col-lg-3 {
    width: 25%;
  }
  .ig-msry.ig-cols-12 > .ig-col-lg-4 {
    width: 33.333%;
  }
  .ig-msry.ig-cols-12 > .ig-col-lg-5 {
    width: 41.666%;
  }
  .ig-msry.ig-cols-12 > .ig-col-lg-6 {
    width: 50%;
  }
  .ig-msry.ig-cols-12 > .ig-col-lg-7 {
    width: 58.333%;
  }
  .ig-msry.ig-cols-12 > .ig-col-lg-8 {
    width: 66.666%;
  }
  .ig-msry.ig-cols-12 > .ig-col-lg-9 {
    width: 75%;
  }
  .ig-msry.ig-cols-12 > .ig-col-lg-10 {
    width: 83.333%;
  }
  .ig-msry.ig-cols-12 > .ig-col-lg-11 {
    width: 91.666%;
  }
  .ig-msry.ig-cols-12 > .ig-col-lg-12 {
    width: 100%;
  }
}

/** Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .ig-msry.ig-cols-12 > .ig-col-xl-1 {
    width: 8.333%;
  }
  .ig-msry.ig-cols-12 > .ig-col-xl-2 {
    width: 16.666%;
  }
  .ig-msry.ig-cols-12 > .ig-col-xl-3 {
    width: 25%;
  }
  .ig-msry.ig-cols-12 > .ig-col-xl-4 {
    width: 33.333%;
  }
  .ig-msry.ig-cols-12 > .ig-col-xl-5 {
    width: 41.666%;
  }
  .ig-msry.ig-cols-12 > .ig-col-xl-6 {
    width: 50%;
  }
  .ig-msry.ig-cols-12 > .ig-col-xl-7 {
    width: 58.333%;
  }
  .ig-msry.ig-cols-12 > .ig-col-xl-8 {
    width: 66.666%;
  }
  .ig-msry.ig-cols-12 > .ig-col-xl-9 {
    width: 75%;
  }
  .ig-msry.ig-cols-12 > .ig-col-xl-10 {
    width: 83.333%;
  }
  .ig-msry.ig-cols-12 > .ig-col-xl-11 {
    width: 91.666%;
  }
  .ig-msry.ig-cols-12 > .ig-col-xl-12 {
    width: 100%;
  }
}
