/**
* xs: up to 575px
* sm: 576px to 767px
* md: 768px to 991px
* lg: 992px to 1199px
* xl: 1200px and over
*/

.ig-hidden { display: none; }

@media (min-width: 576px) {
	.ig-hidden-sm { display: none; }
}
@media (min-width: 768px) {
	.ig-hidden-md { display: none; }
}
@media (min-width: 992px) {
	.ig-hidden-lg { display: none; }
}
@media (min-width: 1200px) {
	.ig-hidden-xl { display: none; }
}

@media (max-width: 575px) {
	.ig-hidden-xs-only { display: none; }
}
@media (min-width: 576px) and (max-width: 767px) {
	.ig-hidden-sm-only { display: none; }
}
@media (min-width: 768px) and (max-width: 991px){
	.ig-hidden-md-only { display: none; }
}
@media (min-width: 992px) and (max-width: 1199px){
	.ig-hidden-lg-only { display: none; }
}
@media (min-width: 1200px) {
	.ig-hidden-xl-only { display: none; }
}
