
.cg-grid {
	margin-bottom: 1rem;
	grid-gap: 0.5rem;
}
.cg-grid .cg-grid {
	margin-top: 1rem;
	margin-bottom: 0;
}

.cg-grid > * {
	background-color: #444;
	color: #fff;
	border-radius: 0.25rem;
	padding: 0.5rem;
}
.cg-grid .cg-grid > * {
	background-color: #333;
}

.no-underline {
    text-decoration: none !important;
}

.nav-item  {
    color: #fff;
}

.nav-ml {
	margin-left: 8px;
}

.nav-active {

}
